.MainPC {
    text-align: center; /*아래 가운데 정렬*/
}

#topBackground {
    width: 100vw;
    height: 373px;
    position: absolute;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 0;
}


.main {
    display: inline-block; /*아래 가운데 정렬 실행*/
}

.margin {
    width: 100%;
    height: var(--wrap-padding);
}

/*영화 추천*/
.movie-suggestion {
    width: var(--center-width);
    height: 350px;
    padding: var(--wrap-padding);

    position: relative;
}

.suggestion {
    width: 90%;
    height: 90%;

    display: inline-block;
}

.slick-prev {
    left: -60px !important;
}

.slick-prev:before {
    color: darkgrey !important;
    font-size: 50px !important;
}

.slick-next:before {
    color: darkgrey !important;
    font-size: 50px !important;
}

/*메인화면 (정보, 할인, 상위10, 광과)*/
.movie-info {
    width: var(--center-width);
    height: 1275px;
    padding: var(--wrap-padding);
}

/*왼쪽*/
.left-info {
    width: 69%;
    height: 100%;

    float: left;
}

.advers {
    width: 100%;
    height: 10%;
}

.boards {
    width: 100%;
    height: 90%;
}

/*오른쪽*/
.right-info {
    width: 30%;
    height: 100%;

    float: right;
}


/*이벤트*/
.app-service {
    width: var(--center-width);
    height: 215px;
    display: flex; /*자식의 높이 일치*/
    padding: var(--wrap-padding);
    background-color: lightskyblue;
}

.event-wrap {
    display: inline-block;
    padding: 10px 0 10px 0;
    width: 80%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
}

.event-wrap > li {
    padding: 5px 0 5px 0;
}

.sp_home_bottom_ui > * {
    overflow: hidden;
    background-image: url(https://ssl.pstatic.net/static/nstore/series_on/sp_home_bottom_ui_v2.png);
    background-repeat: no-repeat;
}


.sp_home_bottom_ui > a {
    display: inline-block;
    width: 150px;
    height: 46px;
    margin: 0 5px 0 5px;
    background-size: 254px 220px;
    background-color: white;
}

#googlePlay {
    background-position: 0 -80px;
}

#appleStore {
    background-position: 0 -127px;
}

#windowsPlayer {
    background-position: 0 -174px;
}

.service-title {
    width: 254px;
    height: 35px;
    margin: 31px auto 31px;
    background-position: 0 -35px;
    background-size: 254px 220px;
}