/*순서는
가로, 세로
margin, padding
위치(postion, display, float)
배경 색상
나머지 요소들
*/

:root {
    --center-width: 1000px;
    --wrap-padding: 10px;
}

.App {
    text-align: center; /*아래 가운데 정렬*/
    background-color: #f5f5f5;
}

.main {
    display: inline-block; /*아래 가운데 정렬 실행*/
}

.margin {
    width: 100%;
    height: var(--wrap-padding);
}

#topBackground {
    width: 100vw;
    height: 540px;
    position: absolute;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 0;
}

/*상단*/
.header {
    height: 150px;
    padding: var(--wrap-padding);

    display: block;
    position: relative;
}



/*영화 추천*/
.movie-suggestion {
    width: var(--center-width);
    height: 350px;
    padding: var(--wrap-padding);

    position: relative;
}

.suggestion {
    width: 90%;
    height: 90%;

    display: inline-block;
}
.slick-prev {
    left: -60px !important;
}
.slick-prev:before {
    color: darkgrey !important;
    font-size: 50px !important;
}

.slick-next:before {
    color: darkgrey !important;
    font-size: 50px !important;
}

/*메인화면 (정보, 할인, 상위10, 광과)*/
.movie-info {
    width: var(--center-width);
    height: 1275px;
    padding: var(--wrap-padding);
}

/*왼쪽*/
.left-info {
    width: 69%;
    height: 100%;

    float: left;
}

.advers {
    width: 100%;
    height: 10%;
}

.windows {
    width: 100%;
    height: 90%;
}

/*오른쪽*/
.right-info {
    width: 30%;
    height: 100%;

    float: right;
}


/*이벤트*/
.app-service {
    width: var(--center-width);
    height: 215px;
    padding: var(--wrap-padding);
    background-color: lightskyblue;
}
.event-wrap{
    display: inline-block;
    padding: 10px 0 10px 0;
    width: 80%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
}
.event-wrap>li{
    padding: 5px 0 5px 0;
}


/*아래*/
.footer {
    width: var(--center-width);
    height: 310px;
    padding: var(--wrap-padding);
}

.footer-info {
    margin: auto;
}