.ico_mv_lst6 {
    background-image: url("https://ssl.pstatic.net/static/nstore/series_on/ico_mv_lst6.png");
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

#HD {
    background-position: -247px 0;
    width: 23px;
    height: 16px;
}

#subTitle {
    width: 29px;
    height: 16px;
    background-position: -57px -46px;;
}

.spr_adult_ico_v2 {
    background-image: url("https://ssl.pstatic.net/static/nstore/series_on/spr_adult_ico_v2.png");
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

#youth {
    width: 15px;
    height: 15px;
    background-position: -35px 0;
}

.sp_home_new_v3{
    background-image: url("https://ssl.pstatic.net/static/nstore/series_on/sp_home_new_v3.png");
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

#rank{
    width: 15px;
    height: 16px;
}