span {
    vertical-align: middle;
    margin: 0 1px 0 1px;
}

.ico_mv_lst6 {
    background-image: url("https://ssl.pstatic.net/static/nstore/series_on/ico_mv_lst6.png");
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

#HD {
    background-position: -247px 0;
    width: 23px;
    height: 16px;
}


#subTitle {
    width: 29px;
    height: 16px;
    background-position: -57px -46px;;
}

.spr_adult_ico_v2 {
    background-image: url("https://ssl.pstatic.net/static/nstore/series_on/spr_adult_ico_v2.png");
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

#youth {
    width: 15px;
    height: 15px;
    background-position: -35px 0;
}

.sp_home_new_v7 {
    background-image: url("https://ssl.pstatic.net/static/nstore/series_on/sp_home_new_v7.png");
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

.circle {
    position: absolute;
    display: flex;
    width: 51px;
    height: 51px;

    top: 0;
    left: 0;
}

#rank {
    width: 15px;
    height: 16px;
}

#event {
    background-position: -252px 0;
}

#hot {
    background-position: -139px 0;
}

#new {
    background-position: -307px 0;
}

#free {
    background-position: -195px 0;
}

.zoom-out {
    zoom: 0.8;
}