.window-background{
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.window-header{
    background-color: lightsteelblue;
}

.window-main{
    height: 100%;
    overflow: auto;

    padding: 1% 0 1% 0 ;
    background-color: white;
}