:root {
    --center-width: 1040px;
}

#headerWarp {
    width: 100%;
    text-align: center; /*아래 가운데 정렬*/
}

.divider {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > span {
    align-self: center;
    margin-left: auto;
}

ul > span > span {
    padding: 0 10px 0 10px;
}

li:hover, ul > span > span:hover{
    cursor: pointer;
}


#logo {
    display: inline-flex;
    margin: 4px 0 4px 0;

    font-weight: bold;
    justify-content: space-between;
}
#logo.pc{
    font-size: 2em;
}
#logo.mobile{
    font-size: 1.2em;
}


#category {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#category.pc li{
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
}
#category.mobile li{
    padding: 10px;
    font-size: 1em;
}


#detail.pc {
    margin : 5px 0 5px 0;
    display: inline-block;
}
#detail.mobile ul{
    /*display: inline-flex;*/
    justify-content: space-evenly;
}

#detail.pc li {
    padding: 0 10px 0 10px;
    font-size: 1em;
}
#detail.mobile li{

    font-size: 0.8em;
}




.pc{
    width: var(--center-width);

}
.mobile{
    width: 100%;
    min-width: 92px;
}
