:root {
    --center-width: 1040px;
}

#headerWarp {
    width: 100%;
    text-align: center; /*아래 가운데 정렬*/
}

.divider {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > span {
    align-self: center;
    margin-left: auto;
}

ul > span > span {
    padding: 0 10px 0 10px;
}

li:hover, ul > span > span:hover{
    cursor: pointer;
}

#logo {
    display: inline-flex;
    margin: 4px 0 4px 0;
    width: var(--center-width);

    font-weight: bold;
    font-size: 2em;
    justify-content: space-between;

}

#category {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: var(--center-width);
}

#category li {
    height: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
}


#detail {
    margin : 5px 0 5px 0;
    display: inline-block;
    width: var(--center-width);
}

#detail li {
    padding: 0 10px 0 10px;
}
