:root {
    --center-width: 1040px;
}

#headerWarp {
    width: 100%;
    text-align: center; /*아래 가운데 정렬*/
}

@media (max-width: 500px) {
    #headerWarp {
        width: 500px;
        text-align: center;
    }
}

.divider {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > span {
    align-self: center;
    margin-left: auto;
}

ul > span > span {
    padding: 0 10px 0 10px;
}

li:hover, ul > span > span:hover {
    cursor: pointer;
}


#logo {
    display: inline-flex;
    margin: 4px 0 4px 0;

    font-weight: bold;
    justify-content: space-between;
    font-size: 2em;
}

.width-change {
    width: var(--center-width);

}

#category {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#category li {
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
}
#detail li {
    padding: 0 10px 0 10px;
    font-size: 1em;
}

#detail{
    margin: 5px 0 5px 0;
    display: inline-block;
}

@media (max-width: 999px) {
    #logo{
        font-size: 1.2em;
    }
    #category li {
        padding: 10px 15px 10px 15px;
        font-size: 1em;
    }
    #detail li {
        padding: 5px 0 5px 0;
        font-size: 0.8em;
    }
    #detail ul{
        justify-content: space-evenly;
    }

    .width-change{
        width: 100%;
        min-width: 92px;
    }
}
