a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    text-decoration-line: underline;
    color: darkblue;
}


.img {
    padding: 10% 0 0 0;
    margin: auto;

}

.info{
    width: 70%;
    height: 30%;
}

.slider{
    width: 90%;
    height: 40%;
}

.title {
    padding: 10% 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*한줄로 표시*/

    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    /*!*두줄로 표시*!*/
}

.main-title {
    font: caption;
    font-size: 1.2em;
    font-weight: bold;
}