:root{
    --center-width : 1000px
}
.App {
    background-color: cadetblue;
    text-align: center;
}

.main {
    /*전체 가운데 정렬*/
    display: inline-block;
}

/*상단*/
.header {
    background-color: dimgray;
    width: var(--center-width);
    height: 150px;
}

.app-logo {

}

.app-search {

}

/*영화 추천*/
.movie-suggestion {
    position: relative;
    background-color: burlywood;
    width: var(--center-width);
    height: 400px;
}

.suggestion {
    display: inline-block;
    background-color: chartreuse;
    width: 80%;
    height: 90%;
}

.slider-css{
    height: 100%;
}


/*메인화면 (정보, 할인, 상위10, 광과)*/
.movie-info {
    background-color: chocolate;
    width: var(--center-width);
    height: 1275px;
}
/*왼쪽*/
.main-info {
    float: left;
    margin: 1% 1% 1% 1%;
    background-color: darkgray;
    width: 67%;
    height: 98%;
}

.adveres {
    margin: 1%;
    background-color: darkblue;
    width: 98%;
    height: 10%;
}

.recent {
    padding: 1%;
    margin: 1%;
    background-color: chartreuse;
    width: 96%;
    overflow: auto;
}

.discount {
    padding: 1%;
    margin: 1%;
    background-color: chartreuse;
    width: 96%;
    overflow: auto;
}
/*오른쪽*/
.side-info {
    float: right;
    margin: 1% 1% 1% 1%;
    background-color: cornsilk;
    width: 29%;
    height: 98%;
}

.top10 {
    background-color: darkolivegreen;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 1%;
    width: 98%;
}

.adver2 {
    background-color: chartreuse;
    margin: 1%;
    width: 95%;
    height: 10%;
}


/*이벤트*/
.app-service {
    background-color: khaki;
    width: var(--center-width);
    height: 215px;
}

.event {

}

.service {

}


/*아래*/
.footer {
    background-color: darkolivegreen;
    width: var(--center-width);
    height: 310px;
}