:root {
    --center-width: 1000px
}

.App {
    background-color: cadetblue;
    text-align: center;
}

.main {
    /*전체 가운데 정렬*/
    display: inline-block;
}

/*상단*/
.header {
    background-color: dimgray;
    display: block;
    width: var(--center-width);
    height: 150px;
}

.app-logo {
    height: 30%;
    background-color: chartreuse;
}

.app-search {
    height: 50%;
    background-color: burlywood;
}

/*영화 추천*/
.movie-suggestion {
    position: relative;
    background-color: burlywood;
    width: var(--center-width);
    height: 400px;
}

.suggestion {
    display: inline-block;
    width: 90%;
    height: 90%;
}

.slider-css {
    height: 100%;
}


/*메인화면 (정보, 할인, 상위10, 광과)*/
.movie-info {
    background-color: ivory;
    width: var(--center-width);
    height: 1275px;
}

/*왼쪽*/
.main-info {
    float: left;
    margin: 1% 1% 1% 1%;
    /*background-color: darkred;*/
    width: 67%;
    height: 98%;
}

.adveres {
    background-color: darkblue;
    width: 100%;
    height: 10%;
}

/*오른쪽*/
.side-info {
    float: right;
    margin-right: 1%;
    padding-top: 1%;
    background-color: cornsilk;
    width: 29%;
    height: 97%;
}

.top10 {
    background-color: darkolivegreen;
    padding: 5% 1% 5% 1%;
    margin: 1%;
    width: 96%;
}

.adver2 {
    background-color: chartreuse;
    margin: 1%;
    width: 95%;
    height: 10%;
}


/*이벤트*/
.app-service {
    background-color: khaki;
    width: var(--center-width);
    height: 215px;
}

.event {
    display: inline-block;
    background-color: darkgray;
    width: 40%;
    height: 100%;
}

.service {
    display: inline-block;
    background-color: burlywood;
    width: 58%;
    height: 100%;
}


/*아래*/
.footer {
    background-color: darkolivegreen;
    width: var(--center-width);
    height: 310px;
}

.footer-info {
    margin: auto;
}