.App {
    background-color: cadetblue;
    text-align: center;
}

.header {
    display: inline-block;
    background-color: dimgray;
    width: 1000px;
    height: 150px;
}

.app-logo {

}

.app-search {

}

.movie-suggestion {
    display: inline-block;
    background-color: burlywood;
    width: 1000px;
    height: 400px;
}

.suggestion {

}

.movie-info {
    display: inline-block;
    background-color: chocolate;
    width: 1000px;
    height: 1275px;
}

.recent {

}

.discount {

}

.top10 {

}

.advertisement {

}

.app-service {
    display: inline-block;
    background-color: khaki;
    width: 1000px;
    height: 215px;
}

.event {

}

.service {

}

.footer {
    display: inline-block;
    background-color: darkolivegreen;
    width: 1000px;
    height: 310px;
}