.movie-card {
    position: relative;
    display: inline-block;
}
.movie-card:hover{
    cursor: pointer;
}

#info {
    font-size: 0.6em;
    margin: 1%;
    padding-top: 2%;
    width: 17%;
}

#slider {
    font-size: 0.8em;
    margin-top: 5%;
    padding-top: 5%;
    width: 90%;
}