.movie-card {
    position: relative;
    display: inline-block;

    margin-top: 5%;
    padding-top: 5%;
    width: 90%;
}

.img {
    margin: auto;
    width: 90%;
    height: 40%;
}

.font-size {
    font-size: 0.8em;
}

span{
    padding: 0 0 0 5px;
}

a{
    text-decoration-line: none;
    color: black;
}
a:hover{
     text-decoration-line: underline;
     color: darkblue;
 }

.title {
    margin: auto;
    padding: 10% 0 0 0;
    width: 80%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*한줄로 표시*/
}

.main-title {
    font: caption;
    font-size: 1.2em;
    font-weight: bold;
}

#price{
    color: limegreen;
    font-weight: bold;
}