.movie-card{
    display: inline-block;
    position: relative;
    background-color: wheat;

    margin : 1%;
    width: 17%;
    padding-top: 35%;
}

.wrap{
    position: absolute;
    top : 1%;
    left: 0;
}

.img{
    padding: 15% 0 0 0;
    width: 80%;
    height: 35%;
}

.font-size{
    font-size: 0.8em;
}

a{
    text-decoration-line: none;
    color: black;
}
a:hover{
    text-decoration-line: underline;
    color: darkblue;
}

.title{
    padding: 10% 0 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-title {
    font: caption;
    font-size: 1em;
    font-weight: bold;
}