.movie-card{
    position: relative;
    background-color: wheat;
    display: inline-block;
    margin-top: 5%;
    padding-top: 5%;
}

.img{
    margin : auto;
    width: 90%;
    height: 40%;
}

.font-size{
    font-size: 0.8em;
}

.info{
    margin: auto;
    width: 80%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*한줄로 표시*/
}