.movie-card{
    width: 96%;
    height: 8%;
    margin: 1%;
    padding: 1%;

    display: flex;
    position: relative;
    align-items: center;
    border-top: 1px solid darkgrey;
    font-size: 0.8em;
}

.movie-card:first-child{
    border: none;
}

.card-mobile{
    max-height: 109px;
}


a{
    text-decoration-line: none;
    color: black;

}
a:hover{
    text-decoration-line: underline;
    color: darkblue;
}

.img{
    margin: 0 5% 0 5%;
    width: 15%;
    height: 85%;
    align-items: center;
}

.mobile-img{
    min-width: 80px;
    min-height: 100px;
    max-width: 80px;
    max-height: 109px;
}

.info{
    width: 70%;

    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-title {
    font: caption;
    font-size: 1em;
    font-weight: bold;
}